{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="/public/better-chapter-select.css" />
{% endblock %} {% block content %}
<form class="p-0" action="/book/{{ book.id }}/configure" method="post">
  <div
    class="control-bar has-background-light is-flex is-justify-content-space-between is-align-items-center"
  >
    <div>
      <h1 class="title is-4">Customize & review</h1>
      <p class="subtitle">
        Once you press generate, you won't be able to change this
      </p>
    </div>
    <div>
      <button class="button" type="submit" name="action" value="save">
        Save Draft
      </button>
      <button
        class="button is-link"
        type="submit"
        name="action"
        value="compile"
      >
        Generate EPUB
      </button>
    </div>
  </div>
  <div class="block container p-4">
    <div class="field">
      <label class="label">Title</label>
      <div class="control">
        <input
          class="input"
          type="text"
          name="title"
          value="{{ book.title }}"
          required
        />
      </div>
    </div>
    <div class="field">
      <label class="label">Author</label>
      <div class="control">
        <input
          class="input"
          type="text"
          name="author"
          value="{{ book.author }}"
          required
        />
      </div>
    </div>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Selected chapters</th>
        </tr>
      </thead>
      <tbody>
        {% for chapter in chapters %}
        <tr>
          <td>{{ chapter.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</form>
{% endblock %}
