{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="/public/better-chapter-select.css" />
{% endblock %} {% block content %}
<form action="/book/{{ book.id }}/configure" method="post">
  <div class="section">
    <div class="is-flex is-justify-content-space-between is-align-items-center">
      <div>
        <h1 class="title is-4">3. Configure and compile</h1>
        <p class="subtitle">
          Customize metadata and confirm chapter selection is correct before beginning the compile job.
        </p>
      </div>
      <div class="is-flex is-gap-1">
        <button class="button" type="submit" name="action" value="save">
          Save Draft
        </button>
        <button class="button is-link" type="submit" name="action" value="compile">
          Compile EPUB
        </button>
      </div>
    </div>
  </div>
    <div class="section">
      <div class="field">
        <h2 class="title is-5">Configure EPUB Metadata</h2>
        <label class="label">Title</label>
        <div class="control">
          <input class="input" type="text" name="title" value="{{ book.title }}" required />
        </div>
      </div>
      <div class="field">
        <label class="label">Author</label>
        <div class="control">
          <input class="input" type="text" name="author" value="{{ book.author }}" required />
        </div>
      </div>
    </div>
  
  <div class="section">
    <div class="is-flex is-justify-content-space-between">
      <h2 class="title is-5">Included chapters</h2>
      <a href="/book/{{ book.id }}/select-chapters" class="button">Edit chapters</a>
    </div>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Chapter Number</th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        {% for chapter in chapters %}
        <tr>
          <td>{{ chapter.chapter_number }}</td>
          <td>{{ chapter.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>

</form>
{% endblock %}