{% extends "base.html" %} {% block title %}Books{% endblock %}
<!-- asdf -->
{% block content %}
<div class="section">
    <div class="is-flex is-justify-content-space-between is-gap-2 is-align-items-center">
        <h1 class="title my-0">Books</h1>
        <a href="/book/new" class="button is-link">New Book</a>
    </div>
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        {% for book in books %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.status }}</td>
            <td>
                {% if book.status != crate::ebook::BookStatus::Draft %}
                <a class="button" href="/book/{{book.id}}">View</a>
                {% endif %}
                {% if book.status == crate::ebook::BookStatus::Draft %}
                <a class="button is-link" href="/book/{{book.id}}/configure">
                    Configure
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}