{% extends "base.html" %} {% block title %}Configure Book{% endblock %} {% block
head %} 
<style>
li {
  list-style-type: none;
  margin: 1em 0;
}
ul {
  padding: 0;
}
</style>
{% endblock %} {% block content %}
<h1>Select chapters from {{ title }}</h1>

<form
  class="chapter-select-form"
  action="/manga/{{ manga_id }}/chapters"
  method="post"
>
  <button
    onclick="document.querySelectorAll('.chapter-item').forEach(item => item.checked = true)"
    type="button"
  >
    select all on page
  </button>
  <button
    onclick="document.querySelectorAll('.chapter-item').forEach(item => item.checked = false)"
    type="button"
  >
    select none on page
  </button>

  <!-- Item Selection Checkboxes -->
  <ul>
    {% for item in items %}
    <li>
      <label style="display: flex;">
        <input
          class="chapter-item"
          type="checkbox"
          name="selected_items"
          value="{{item.id}}"
          {% if selected.contains(item.id) %}
          checked
          {% endif %}
        />
        <div style="display: flex; flex-direction: column;">
        <span>{{item.name}}</span>
        {% if let Some(scanlator) = item.scanlator %}
        <span>{{scanlator}}</span>
        {% endif %}
        </div>
      </label>
    </li>
    {% endfor %}
  </ul>

  <!-- Pagination Controls -->
  <button type="submit" name="page_control" value="prev">Previous</button>
  <button type="submit" name="page_control" value="next">Next</button>
  <button type="submit">Download selection</button>
</form>
{% endblock %}
