<h1>Select chapters from {{ title }}</h1>
{{offset}}

<form
  class="chapter-select-form"
  action="/manga/{{ manga_id }}/chapters"
  method="post"
>
  <!-- Item Selection Checkboxes -->
  <ul>
    {% for item in items %}
    <li>
      <label>
        <input
          type="checkbox"
          name="selected_items"
          value="{{item.id}}"
          {% if selected.contains(item.id) %} checked {% endif %}
        />
        {{item.name}}
      </label>
    </li>
    {% endfor %}
  </ul>

  <!-- Pagination Controls -->
  <button type="submit" name="page_control" value="prev">Previous</button>
  <button type="submit" name="page_control" value="next">Next</button>
</form>
