{% extends "base.html" %} {% block title %}Configure Book{% endblock %} {% block
head %}
<style>
  form {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  label {
    display: flex;
  }
  span {
    width: 80px;
  }
  input {
    flex: auto;
  }
</style>
{% endblock %} {% block content %}
<form style="" action="/configure-book/{{ id }}" method="post">
  <h1>Configure book</h1>
  <label>
    <span>Title</span>
    <input type="text" name="title" value="{{default_title}}" />
  </label>
  <label>
    <span>Author</span>
    <input type="text" name="author" value="{{default_author}}" />
  </label>
  {# TODO: edit selected chapters #}
  <h3>Selected chapters</h3>
  <ul></ul>
  <button type="submit">Generate book</button>
</form>
{% endblock %}
