{% extends "base.html" %} {% block title %}Books{% endblock %}
<!-- asdf -->
{% block content %}
<div class="section">
    <div class="is-flex is-gap-2 mb-2 is-align-items-center is-justify-content-space-between">
        <h1 class="title mb-1">{{ export.title }}</h1>
        <div>
            <a href="/exports" class="button">Back</a>
            {% if export.state == crate::models::export::ExportState::Completed %}<a download="{{ export.get_filename() }}" href="/export/{{ export.id }}/download"
                class="button is-success">Download</a>{% endif %}
        </div>
    </div>
    <div class="tags are-medium">
        <span class="tag">id: {{ export.id }}</span>
        <span class="tag">author: {{ export.author }}</span>
        <span class="tag">state: {{ export.state }}</span>
        {% if export.state == crate::models::export::ExportState::InProgress %}<span class="tag">export step: {{
            export.step }}</span>{% endif %}
    </div>
</div>
<div class="section">
    <h2 class="title">Chapters</h2>
    {{ chapter_table|safe }}
</div>
{% endblock %}