{% extends "base.html" %} {% block title %}Exports{% endblock %}
<!-- asdf -->
{% block content %}
<div class="section">
    <div class="is-flex is-justify-content-space-between is-gap-2 is-align-items-center">
        <h1 class="title my-0">Exports</h1>
        <a href="/export/new" class="button is-link">New Export</a>
    </div>
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Format</th>
                <th>Status</th>
                <th class="is-narrow "></th>
            </tr>
        </thead>
        {% for export in exports %}
        <tr>
            <td>{{ export.id }}</td>
            <td>{{ export.title }}</td>
            <td>{{ export.author }}</td>
            <td>{{ export.format }}</td>
            <td>{{ export.state }}</td>
            <td class="is-flex is-gap-1 is-justify-content-end">
                {% if export.state != crate::models::export::ExportState::Draft %}
                <a class="button is-small" href="/export/{{export.id}}">View</a>
                <a class="button is-small is-success" download="{{ export.get_filename() }}"
                    href="/export/{{export.id}}/download">Download</a>
                {% else %}
                <a class="button is-small is-link" href="/export/{{export.id}}/configure">
                    Configure and export
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}