<h1>Search for a manga by title</h1>
<form method="get" action="/search">
  <p>search the following sources:</p>
  <ul>
    {{#each sources}}
      <li>{{name}} - {{lang}}</li>
    {{/each}}
  </ul>
  <input type="text" name="title" />
  <button type="submit">Search</button>
</form>