{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="/public/better-chapter-select.css" />
{% endblock %} {% block content %}
<!-- <div class="section">
  <h1 class="title">1. Select source manga</h1>
</div>
<div class="section">
  <h2 class="title">2. Select chapter range</h2>
</div>
<div class="section">
  <h2 class="title">3. Configure book</h2>
</div> -->
<form class="section" action="/book/new/select-chapters" method="get">
  <div
    class="is-flex is-justify-content-space-between is-align-items-center"
  >
    <div>
      <h1 class="title is-4">1. Select source title</h1>
      <p class="subtitle">Visit Suwayomi to add more titles to your library</p>
    </div>
    <div>
      <button class="button is-link" type="submit">Next</button>
    </div>
  </div>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      {% for manga in mangas %}
      <tr>
        <td>
          <input
            id="manga-{{ manga.id }}"
            type="radio"
            name="mangaId"
            value="{{ manga.id }}"
          />
        </td>
        <td><label for="manga-{{ manga.id }}">{{ manga.title }}</label></td>
        <td>
          {% if let Some(author) = manga.author %}<label
            for="manga-{{ manga.id }}"
            >{{ author }}</label
          >{% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</form>
{% endblock %}
