<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>id</th>
            <th>Chapter Number</th>
            <th>Title</th>
            <th>Scanlator</th>
        </tr>
    </thead>
    <tbody>
        {% for chapter in chapters %}
        <tr>
            <td>{{ chapter.id }}</td>
            <td>{{ chapter.chapter_number }}</td>
            <td>{{ chapter.name }}</td>
            <td>
                {% if let Some(scanlator) = chapter.scanlator %}{{ scanlator }}{%
                endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>